.cover {
  width: 1440px;
  max-width: 100%;
  min-height: 768px;
  margin: 0 auto;
  background-color: #55aaae;
  background-image: url("../img/cover-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}
