.gallery {
  background-color: #ffffff;
}

.gallery__header {
  margin-bottom: 30px;

  @media (max-width: 1023px) {
    margin-bottom: 20px;
  }
}

.gallery__tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 50px;
  padding: 0;
  list-style: none;

  @media (max-width: 1023px) {
    margin-bottom: 20px;
  }
}

.gallery__tag-item {
  margin: 10px;

  @media (max-width: 1023px) {
    margin: 5px;
  }
}

.gallery__tag-link {
  display: block;
  padding: 20px 31px 19px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333333;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #e9e9e9;
  outline: none;

  @media (max-width: 1023px) {
    padding: 12px 12px 11px;
  }
}

.gallery__tag-link--active {
  background: linear-gradient(to right, #f8e29e, #f4d167);
  box-shadow: 0 15px 20px 0 rgba($color: #f2c94c, $alpha: 0.4);

  @media (max-width: 1023px) {
    box-shadow: 0 5px 10px 0 rgba($color: #f2c94c, $alpha: 0.4);
  }
}

.gallery__tag-link:hover:not(.gallery__tag-link--active),
.gallery__tag-link:focus:not(.gallery__tag-link--active) {
  background-color: #f4d269;
  box-shadow: inset 0 0 0 2px #f4d269;
}

.gallery__tag-link:active:not(.gallery__tag-link--active) {
  background-color: #cfb053;
  box-shadow: inset 0 0 0 2px #cfb053;
}

.gallery__photos {
  position: relative;
  display: flex;
  margin: 0 -70px;
  padding: 0 70px;
  overflow-x: hidden;

  @media (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
    margin: 0 -50px;
    padding: 0;
    overflow-x: visible;
  }
}

.gallery__inner {
  display: flex;
  flex-wrap: wrap;
  width: 860px;
  max-width: 100%;
}

.gallery__inner:last-child {
  margin-left: 20px;

  @media (max-width: 1199px) {
    margin-top: 20px;
    margin-left: 0;
  }
}

.gallery__inner--slide-left {
  animation: 0.2s slideLeft;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-440px);
  }
}

.gallery__inner--slide-right {
  animation: 0.2s slideRight;
}

@keyframes slideRight {
  0% {
    transform: translateX(-440px);
  }

  100% {
    transform: translateX(0);
  }
}

.gallery__sq {
  display: flex;
  width: 860px;
  max-width: 100%;

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

.gallery__sq:last-child {
  margin-top: 20px;
}

.gallery__row {
  display: flex;
  width: 860px;
  max-width: 100%;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.gallery__row:last-child {
  margin-top: 20px;
}

.gallery__row .gallery__link:last-child {
  margin-left: 20px;

  @media (max-width: 767px) {
    margin-top: 20px;
    margin-left: 0;
  }
}

.gallery__col {
  display: flex;
  flex-direction: column;
  width: 420px;
  max-width: 100%;
}

.gallery__col .gallery__link:last-child {
  margin-top: 20px;
}

.gallery__col:last-child {
  margin-left: 20px;

  @media (max-width: 767px) {
    margin-top: 20px;
    margin-left: 0;
  }
}

.gallery__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__link:hover::before,
.gallery__link:focus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #f7df95, #f4d36c);
  opacity: 0.9;
}

.gallery__link:active::before {
  opacity: 0.5;
}

.gallery__img-enlarger {
  display: none;
}

.gallery__img-enlarger svg {
  margin-bottom: 12px;
  fill: #333333;
}

.gallery__link:hover .gallery__img-enlarger,
.gallery__link:focus .gallery__img-enlarger {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-add, "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333333;
}

.gallery__image {
  display: block;
  background-color: #46a9c0;
}
