.page-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  background-image: inherit;
  background-position: inherit;
  overflow: hidden;
}

.page-header::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: -30px;
  bottom: -30px;
  left: 0;
  right: 0;
  background-image: inherit;
  background-position: inherit;
  filter: blur(25px);
}

.page-header__inner {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 27px 70px;
  background-image: url("../img/noize.png");
}

.page-header__brand {
  display: flex;
  align-items: center;
}

.page-header__logo {
  display: flex;
  width: 189px;
  height: 26px;
}

.page-header__tagline {
  position: relative;
  width: 106px;
  margin: 0 0 0 60px;
  font-size: 12px;
  line-height: 1.3;
  color: rgba($color: #ffffff, $alpha: 0.6);
}

.page-header__tagline::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 40px;
  top: -5px;
  left: -30px;
  background-color: rgba($color: #ffffff, $alpha: 0.3);
}
