$font-title: "Gilroy";
$font-txt: "ProximaNova Regular";
$font-add: "ProximaNova ExtraBold";
$font-src-title: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"),
  url("../fonts/Gilroy-ExtraBold.woff") format("woff");
$font-src-txt: url("../fonts/ProximaNova-Regular.woff2") format("woff2"),
  url("../fonts/ProximaNova-Regular.woff") format("woff");
$font-src-add: url("../fonts/ProximaNova-ExtraBold.woff2") format("woff2"),
  url("../fonts/ProximaNova-ExtraBold.woff") format("woff");
